@page "/"
@inject IStringLocalizer<ApplicationResource> Localizer

<PageTitle>MatchMaker @Localizer["Innovationplatform"]</PageTitle>

<h1>MatchMaker</h1>
<div class="d-flex flex-1 flex-column">
    <MudGrid Spacing="2" Justify="Justify.Center" Class="flex-initial">
        <MudItem xl="4" lg="5" md="6" sm="10" xs="12">
            <MudCarousel @ref="_carousel" ItemsSource="_challenges" ShowBullets="false" AutoCycleTime="TimeSpan.FromSeconds(10)">
                <ItemTemplate>
                    <ChallengeCardComponent CardData="@context"/>
                </ItemTemplate>
            </MudCarousel>
        </MudItem>
        <MudItem xl="8" lg="7" md="6" sm="10" xs="12" Class="d-flex flex-column">
            <MudCard Class="flex-1">
                <MudCardContent>
                    <h2>@Localizer["AboutMatchMaker"]</h2>
                    <p>@Localizer["AboutMatchMakerDescription"]</p>

                    <br/>

                    <h3>@Localizer["MissionMatchMaker"]</h3>
                    <em>@Localizer["MissionMatchMakerDescription"]</em>

                    <br/> <br/>

                    <h3>@Localizer["VisionMatchMaker"]</h3>
                    <em>@Localizer["VisionMatchMakerDescription"]</em>

                    <br/> <br/>

                    <h3>@Localizer["GoalMatchMaker"]</h3>
                    <em>@Localizer["GoalMatchMakerDescription"]</em>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>