@page "/login"
@using Microsoft.AspNetCore.Components.Forms
@using MMIP.Client.Controllers
@using MMIP.Shared.Models
@inject IStringLocalizer<ApplicationResource> Localizer
@inject RequestController RequestController

<PageTitle>MMIP - @Localizer["Login"]</PageTitle>

<h1>@Localizer["Login"]</h1>
<MudGrid Justify="Justify.Center" Class="mb-15 mt-2">
    <MudItem md="6">
        <MudCard Elevation="4" Class="rounded-lg">
            <MudCardContent>
                <EditForm Model=@_user OnSubmit=@_formSubmitted>
                    <DataAnnotationsValidator/>
                    <MudItem Class="mb-10 mt-4">
                        <h2 class="alignment-center">@Localizer["E-mail"]</h2>
                    <MudTextField @bind-Value=@_user.Email Label="@Localizer["E-mail"]" Variant="Variant.Outlined" InputType=InputType.Email></MudTextField>
                    </MudItem>
                    <MudItem Class="mb-2">
                        <h2 class="alignment-center">@Localizer["Password"]</h2>
                    <MudTextField @bind-Value=@_user.Password Label="@Localizer["Password"]" Variant="Variant.Outlined" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="@showPasswordIconClick" AdornmentAriaLabel="Show password"></MudTextField>
                    </MudItem>
                    @*TODO: change the redirect*@
                    <MudItem Class="mb-10">
                        <a class="alignment-center" href="/Error">
                            @Localizer["ForgotPassword"]
                        </a>
                    </MudItem>
                    @*TODO: add redirect when there is a successful login*@
                    <MudItem md="7" Class="mb-10">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto d-flex" justify-end>@Localizer["Login"]</MudButton>
                    </MudItem>
                    <MudItem>
                        <a class="alignment-center" href="/register">
                            @Localizer["NoAccount"]
                        </a>
                    </MudItem>
                </EditForm>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    #region Variables
    private InputType _passwordInput = InputType.Password;
    private string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
    private bool _isShown;
    private UserModel _user = new();
    #endregion

    private void showPasswordIconClick()
    {
        if (_isShown)
        {
            _isShown = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInput = InputType.Password;
        }
        else
        {
            _isShown = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInput = InputType.Text;
        }
    }

    private async void _formSubmitted(EditContext editContext)
    {
        _user.RepeatPassword = _user.Password;
        _user.Description = "test";
        _user.FirstName = "test";
        _user.LastName = "test";
        _user.AgreedToPrivacy = true;
        _user.AgreedToPrivacyDateTimeStamp = DateTime.Now;
        await RequestController.Post("users/login", _user);
        StateHasChanged();
    }
}
