@page "/profile/{ProfileType}/{EntityId:guid}"

@using MMIP.Shared.Entities
@using MMIP.Client.Controllers

@inject IStringLocalizer<ApplicationResource> Localizer
@inject RequestController RequestController;

<PageTitle>MMIP - @Localizer["ProfileTitle"]</PageTitle>

@if (@ProfileData == null)
    return;

@if (ProfileData is OrganizationProfile organizationProfile)
{
    <div Class="d-flex banner px-2 mb-12 justify-center">
        <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" Class="rounded-lg" Elevation="4" Src=@organizationProfile.BannerImagePath></MudImage>
    </div>
}
<MudCard Elevation="4" Class="px-6 pb-4 mb-6">
    <MudGrid Justify="Justify.Center" Class="pt-4">
        <MudItem xs="6" md="3" xl="2" Class="d-flex">
            <div>
                <MudAvatar id="avatar">
                    <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" Src=@ProfileData.AvatarPath></MudImage>
                </MudAvatar>
            </div>
        </MudItem>
        <MudItem xs="12" md="6" lg="5" xl="5" Class="d-flex align-center justify-center">
            <h1>@ProfileData.Name</h1>
        </MudItem>
        <MudItem xs="12">
            <MudDivider></MudDivider>
        </MudItem>
        <MudItem md="10" xs="12" Class="centered-text my-4">
            <h2 class="mb-2">@Localizer["ProfileDescription"]</h2>
            <div>
                <MudPaper Elevation="25" Class="description pa-2 border-double border-8">
                    <p>@ProfileData.Description</p>
                </MudPaper>
            </div>
        </MudItem>

        @if (ProfileData is OrganizationProfile)
        {
            <MudItem xs="0" md="9" lg="10">
                <MudSpacer></MudSpacer>
            </MudItem>
            <MudItem xs="12" md="3" lg="2" Class="d-flex justify-center">
                <MudButton Class="py-2" href="/challenge/create">@Localizer["CreateChallengeTitle"]</MudButton>
            </MudItem>
        }
    </MudGrid>
    @if (_challenges.Any())
    {
        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
        <h2 class="centered-text">Challenges</h2>
        <MudGrid Class="px-2 py-6" Justify="Justify.Center" Spacing="4">
            @foreach (var cardData in _challenges)
            {
                <MudItem xs="12" sm="10" md="5" lg="4" xl="3">
                    <ChallengeCardComponent CardData="@cardData"></ChallengeCardComponent>
                </MudItem>
            }
        </MudGrid>
        @if (!_gotAllChallenges)
        {
            <div id="load-challenges-button" class="d-flex mx-auto mt-6 mb-4">
                <MudButton FullWidth="true" Class="py-2" @onclick="@_loadChallenges" Variant="Variant.Filled" Color="Color.Inherit">@Localizer["ChallengesLoadMore"]</MudButton>
            </div>
        }
    }
</MudCard>