@using MMIP.Shared.Entities;
@inject IStringLocalizer<ApplicationResource> _localizer
@inject NavigationManager navigationManager;

<MudItem md="3" xs="6">
    <MudCard @onclick="() => NavigateToChallengeView(Challenge.Id)" Elevation="4" Class="rounded-lg custom-card">
        <MudCardMedia Image=@Challenge.BannerImagePath Height="100"></MudCardMedia>
        <MudCardContent>
            <h2 class="card-centered-text">@Challenge.Title</h2>
        </MudCardContent>
        <MudCardContent>
            <MudGrid>
                <MudItem md="6">
                    <h3 class="card-organization-title">@Challenge.Organization.Name</h3>
                </MudItem>
                <MudItem md="6">
                    <MudCardMedia Image="Assets/Img/1600x888.jpg" Height="80"></MudCardMedia>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardContent>
            <p class="card-centered-text">@Challenge.ShortDescription</p>
        </MudCardContent>
        <MudDivider></MudDivider>
        <MudCardContent>
            <MudGrid Justify="Justify.Center">
                @{
                    int count = 0;

                    foreach (Tag tag in Challenge.Tags)
                    {
                        if (count < MaximumVisibleTags)
                        {
                            <MudChip Size="Size.Small" Color="Color.Primary">@tag.Value</MudChip>
                            count++;
                        }

                        else
                        {
                            if (Challenge.Tags.Count > MaximumVisibleTags)
                            {
                                <MudTooltip Arrow="true" Placement="Placement.Bottom" Class="grey lighten-2 icon-tooltip">
                                    <ChildContent>
                                        <MudChip Size="Size.Small" Color="Color.Primary">+@_additionalTags @_localizer["OtherTags"]</MudChip>
                                    </ChildContent>
                                    <TooltipContent>
                                        <h3>@_localizer["RemainingTags"]:</h3>
                                        @for (int i = MaximumVisibleTags; i < Challenge.Tags.Count; i++)
                                        {
                                            <p>@Challenge.Tags[i].Value</p>
                                        }
                                    </TooltipContent>
                                </MudTooltip>
                            }

                            break;
                        }
                    }
                }
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudItem>

@code {
    [Parameter]
    public Challenge Challenge { get; set; }

    private const int MaximumVisibleTags = 5;
    private int _additionalTags;

    protected override async Task OnInitializedAsync()
    {
        _additionalTags = Challenge.Tags.Count - MaximumVisibleTags;
        base.OnInitialized();
    }

    public void NavigateToChallengeView(Guid challengeId)
    {
        navigationManager.NavigateTo($"/challenge-view/{challengeId}");
    }
}